@{
    ViewData["Title"] = "Privacy Policy";
}
<hr> <h1>@ViewData["Title"]</h1> <hr>


<p>  ABC Retail is dedicated to protecting your privacy. This policy explains how we collect, use, and protect your information.</p>

 <p> <h4>  1. Information We Collect</h4>
    We collect:

    Personal Information: Name, email, phone number, and payment details.
    Order Information: Product purchases and transaction history.
    Technical Information: IP address, browser type, and usage data.
    </p>

  <p> <h4>  2. How We Use Your Information</h4>
    We use your information to:

    Process your orders and provide customer support.
    Improve our website and services.
    Send updates and promotional materials.
    </p>
 <p> <h4>   3. Sharing Your Information</h4>
    We only share your information with:

    Service Providers: To process payments, fulfill orders, or perform analytics.
    Legal Authorities: If required by law.
    </p>
<p> <h4>   4. Data Security</h4>
    We use appropriate measures to protect your information from unauthorized access and disclosure.
    </p>

<p> <h4>  5. Your Rights</h4>
    You have the right to access, correct, or delete your personal information. Contact us at ABCRetail@gmail.com for any requests.
</p>
